---
title: Middleman and Github pages
layout: post
order: 1
---
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>

<code>
// This is a 'Hello World' example.
function greetings(name){
    name = name || "stranger";
    return "Hello, " + name + "!";
}
</code>
